application:
	scanDirs: FALSE
	scanComposer: FALSE
	mapping:
		*: Symnedi\EventDispatcher\Tests\NetteEvent\DispatchSource\*Presenter


services:
	- Symnedi\EventDispatcher\Tests\NetteEvent\EventStateStorage

	# event subscribers
	- Symnedi\EventDispatcher\Tests\DI\EventDispatcherExtensionSource\SomeEventSubscriber
	- Symnedi\EventDispatcher\Tests\NetteEvent\EventSubscriber\ApplicationSubscriber
	- Symnedi\EventDispatcher\Tests\NetteEvent\EventSubscriber\PresenterSubscriber

	# routing logic
	- Symnedi\EventDispatcher\Tests\NetteEvent\DispatchSource\RouterFactory
	router: [@Symnedi\EventDispatcher\Tests\NetteEvent\DispatchSource\RouterFactory, create]

	- Symnedi\EventDispatcher\Tests\NetteEvent\DispatchSource\HomepagePresenter
	- Symnedi\EventDispatcher\Tests\NetteEvent\DispatchSource\ResponsePresenter


extensions:
	- Symnedi\EventDispatcher\DI\EventDispatcherExtension
